* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}   
body {  
    background: linear-gradient(to right, #d4aac4, #fffcdc);
}

.nameOfGame {   
    background: #5f1155;
    color: #fff;
    padding: 8px;
    /* display: flex; */
}

.nameOfGame h2 {    
    /* justify-content: center; */
    /* align-items: center; */
    padding-left: 550px;
}

.winscale { 
    margin-top: 130px;  
    display: flex;
    
    
}
.winscale h6 {
    font-size: 28px;
    flex-direction: column;
    padding-left: 400px;
}

.cards {    
    margin-top: 50px;   
    display: flex;
    /* gap: 90px; */
    justify-content:  space-around;
}

.card { 
    background: linear-gradient(to right, #d5b9ca, #c0aab3);
    /* background: black; */
}

.card h6 {  
    font-size: 28px;  
}

.cardInfo { 
    display: flex;  
    flex-direction: column;
    align-items: center;
}